#Bar{
    display: flex;
    justify-content: space-around;
    color:azure;
    background-color:rgba(255, 255, 255, 0.0) ;
}

#OP{
     margin-right:500px ;
}

img{
    width: 20px;
    height: 20px;
}

body{
    background-image: url("https://i.stack.imgur.com/mjkoh.jpg");
    background-size: cover;
}

#Tex:hover{
background-color: black;
}
